@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
} 

div, table, ul, li, img {
    list-style: none;
    border: 0;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #333;
    display: inline;
}
.floatL{
    float: left;
}
.floatR{
    float: right;
}
.header{
    width: 80%;
    height: 51px;
    margin:0 auto;
}
.logo{
    width: 527px;
    height: 51px;
    background: url("../images/logo.png") left no-repeat;
    margin:0 auto;
}
.login{
    height: 51px;
    line-height: 51px;
    font-size: 16px;
    color:#39b3ff;
}
.menu{
    width: 80%;
    height: 30px;
    margin: 5px auto 10px auto;
    position: absolute;
    z-index: 1999;
    left:10%;
}
.menu ul li{
    float: left;
    width:12.5%;
    padding-top:5px;
    box-sizing:border-box;
}
.menu ul li a{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.menu ul li a span{
    font-size: 18px;
    color:#fff;
}
.menu ul li img{
    margin-left:5px;
}
.menuList{
    display: none;
}
.menuList li{
    width: 100% !important;
    background: #1a1a1a;
    height: 30px !important;
    line-height: 30px;
    padding-top: 0 !important;
    border-bottom: 1px dotted #e3e3e3;
}
.menuList li a{
    font-size: 14px;
    color:#fff;


}
.banner{
    width: 100%;
    height: 85%;
    background: url("../images/banner.jpg") center no-repeat;
    background-size: 100% 100%;
    margin-top: 40px;
    overflow: hidden;
}
.banneri{
    width: 100%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top:20%;
    font-family: "宋体";
}
.bannery{
    width: 100%;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: "宋体";
}
.active{
   background: url("../images/bline.png") left bottom no-repeat;
    /* border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;*/
    color: red;
}

.concent{
    background: #ececec;
    width: 100%;
   padding-top: 20px;
    padding-bottom: 50px;
}
.searchList{
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    background: #fff;
    border:1px solid #eeeeee;
}
.searchList input{
    height: 30px;
    font-size:14px;
    margin-left:20px;
    border: none;
    float: left;
    outline: none;
    border-right: 1px solid #eeeeee;
    width: 180px;
    box-sizing: border-box;

}
.search{
    border:1px solid #eeeeee;
    width:240px;
    height: 30px;
    border-radius: 10px;
    margin-top:5px;
    margin-left:30px;
}
.scbar_btn{
    background: url("../images/search.png") 10px center no-repeat;
    height: 30px;
    width: 40px;
    border: none;
}
.description{
    margin-right: 30px;
    color:#999999;
}
.description span{
    color: red;
}
.facilitator{
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 15px;
    background:#0096f0;
    width:133px;
    color: #fff;
    margin-left:10px;
}
.commend{
    color:#222222;
    width:80%;
    margin:0 auto;
}
.ctitle{
    background: url("../images/ctitle.png") bottom center no-repeat;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
    font-size: 22px;
}
.cmiddle{
    width:100%;

}
.cmiddle ul li{
    width: 30%;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-right: 5%;
    float: left;
    border-radius: 15px;
}
.cmiddle ul li:last-child{
    margin-right: 0;
}
.cmiddle ul li img{
    margin-top:20px;
    margin-left:41%;
}
.ctitle2{
    display: block;
    text-align: center;
    font-size: 18px;
    color:#333333;
    margin-top:15px;
}
.introduce{
    margin-top:15px;
    font-size: 14px;
    color:#808080;
    text-indent:2em;
    padding-left:20px;
    padding-right:20px;
}
.check{
    text-align: center;
    margin-top:15px;
    margin-bottom: 15px;
}
.check a{
    font-size: 16px;
    color: #0096f0;
}
.process{
    background: #ffffff;
    border: 1px solid #e0e0e0;
    height: 150px;
}
.processfor{
    width: 12%;
}
.processfor img{
    margin-left: 20%;
}
.step{
    font-size: 16px;
    color:#333333;
    font-weight: bold;
    text-align: center;
}
.stepIntrouduce{
    margin-left: 10px;
    width: 100%;
    color:#808080;
}
.arrow{
    float: left;
    background: url("../images/ruzhuArrow.png") no-repeat center;
    width: 87px;
    height: 60px;
}
.footer{
    width: 100%;
    height: 100px;
    background: #323232;
    clear: both;

}
.footer div{
    font-size: 14px;
    color: #737373;
    text-align: center;
}

.container-fluid{
    width: 100%;
    margin:0 auto;
}
.row{
}
.col-md-4{
    width:30.3%;
    float: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    position: relative;
}
a{
    color: #337ab7;
    text-decoration:none;
}
.example {
    display: block;
    padding: 10px;
    background-color: #F5F5F5;
    height: 116px;
    margin: 10px 0;
    overflow: auto;
    text-align: center;
    padding-top: 40px;
}
.example p.description {
    font-size: smaller;
    margin: 5px 0;
}
.example:hover .special-column-shade{
    display: block;
}
b, strong{
    font-size: 700;
}
.small, small{
    font-size: 85%;
}
.special-column-shade{
    display: none;
    position: absolute;
    left:0;
    top:10px;
    width:100%;
    height: 160px;
    background-image: url('../images/map_img_title_bg.png');
    text-align: center;

}
.special-column-shade span{
    position: relative;
    top: 45%;
    padding: 7px 15px;
    color: white;
    background-color: #1a96dd;
}

.palette_control{ display: block;position:absolute;bottom: 0; right: 0; float:right;z-index:999; width: 0; height: auto; padding: 10px 0;}
.color-segment span {
    display: inline-block;
    width: 30px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.line{
    min-width:60px;height: 20px;border: none;background: #44cef6;color: #fff;border-radius: 5px;cursor: pointer;
    padding:5px;text-align:center;margin:5px;
}
.clear{
    clear: both;
}
.row-fluid{
	position:relative;
}
.language-markup{width:100%}
.index_down_left {
    z-index: 1000;
    position: absolute;
    top: 130px;
    /* background: rgba(0,0,0,0.4);
     border-radius: 5px;*/
    width: 180px;
    max-height: 400px;
    overflow-y: auto;

}
.index_menu li{
    background:rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    margin-top:2px;
}
.index_menu li span {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 14px;
}
.index_menu_righ_list li{
    background: none;
    padding-left: 15px;
    border-bottom:none;
}
.index_menu_righ_list li span{
    display: inline-block;
    color:#fff;
    box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 13px;
}
.zhankai{width: 95%;background: url(../images/zhankai.png) right center no-repeat;}
.guanbi{width: 95%;background: url(../images/guanbi.png) right center no-repeat;}
.property{margin-left: 15px;}
.property label{width:50%;display: inline-block;}
.disabled{ pointer-events: none;opacity: .7;}
.demo-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;/* Uncomment for 3D effect *//* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.index_menu_righ_list li{
    background: none;
    padding-left: 15px;
    border-bottom:none;
}
.index_menu_righ_list li span{
    display: inline-block;
    color:#fff;
    box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
    font-size: 13px;
}
#gilde ul{
    position: relative;
    height: 80px;
    cursor: pointer;
}
#gilde ul i{
    position: absolute;
    top: 0px;
    left: -9px;
    z-index: 99999;
    padding: 0;
    margin: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid rgba(255,255,255,0.9);
}
#gilde ul b{
    display: block;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 30px;
    top: 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.7);
}
.none{
    display: none;
}
/*编辑*/
.feature_sx_text {
    height: auto;
    color: #ccc;
    white-space: normal;
    padding: 0px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
}
#map_draw{margin-top:30px; }
.sx_change {
    position: absolute;
    top: 100px;
    z-index: 1009;
    float:right;
    right:40px;

}
.floatL {
    float: left;
    display: inline;
}
.floatR{
    float: right;
}

.feature_tool .feature_sx_text {
    height: auto;
    color: #ccc;
    white-space: normal;
    padding: 0px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
}
.tool_list_box1{ float:left; width:38px; min-height:26px; text-align:center;}
.tool_list_box1 span{ display:block; color:#000; font-size:18px; width:30px; height:23px; background:#3CC; text-align:center; line-height:27px;}
.tool_list_box1 span:hover{ background:#F90; color:#fff;}
.tool_list_box1 span.tool_font{ background:none; font-size:12px; color:#fff; width:30px; height:auto; line-height:none; text-align:center;}
.tool_list_edit1{ border-bottom:1px solid #ccc; margin-bottom:4px; margin-top:8px;}
.tool_list_box1 span.draw01{ background:url(../images/draw01.png) no-repeat;}
.tool_list_box1 span.draw01:hover{background:url(../images/draw11.png) no-repeat;}
.tool_list_box1 span.draw02{ background:url(../images/draw02.png) no-repeat;}
.tool_list_box1 span.draw02:hover{background:url(../images/draw22.png) no-repeat;}
.tool_list_box1 span.draw03{ background:url(../images/draw03.png) no-repeat;}
.tool_list_box1 span.draw03:hover{background:url(../images/draw33.png) no-repeat;}
.tool_list_box1 span.draw06{ background:url(../images/draw06.png) no-repeat;}
.tool_list_box1 span.draw06:hover{background:url(../images/draw66.png) no-repeat;}
.tool_list_box1 span.draw07{ background:url(../images/draw07.png) no-repeat;}
.tool_list_box1 span.draw07:hover{background:url(../images/draw77.png) no-repeat;}
.tool_list_box1 span.draw08{ background:url(../images/color_code.png) no-repeat;    background-position: -2px -1px;}
.tool_list_box1 span.draw08:hover{background:url(../images/color_code.png) no-repeat;     background-position: -2px -1px;}
.leaflet-draw-edit-analysis{background:url(../images/color_code.png) center no-repeat !important;    background-position: -2px -1px;}
.clearFloat {
    clear: both;
}
.edits{margin-top:10px;height:25px;}
.tool_font2{display: inline-block;color:#fff;float:left;line-height: 25px;}
.modify{width:140px;box-sizing: border-box;border:1px solid #ededed;display: inline-block;box-shadow:0 1px 5px rgba(0,0,0,0.65);}
.modify input{width:100px;box-sizing: border-box;height:25px;display: inline-block;border: none;padding:5px;}
.mbtns{width:38px;height:25px;background: #3CC;box-sizing: border-box;border: none;}

/*
要素列表
*/
.factorList{width:250px;margin-bottom:15px;background: #fff;position: absolute;z-index: 999;padding:10px;font-family: "微软雅黑";top:30px;}
.des{font-size: 14px;display: inline-block;color:#3CC;margin:10px 0 10px 5px}
.icon1{width:17px;height:21px;background: url("../images/shijian.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.icon2{width:16px;height:21px;background: url("../images/yaosu.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.icon3{width:16px;height:21px;background: url("../images/shixiao.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.icon4{width:17px;height:21px;background: url("../images/shixiao.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.icon5{width:16px;height:21px;background: url("../images/dingzheng.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.icon6{width:16px;height:21px;background: url("../images/caozuo.png") center no-repeat;margin:10px 0 10px 10px;float: left;}
.borderbottom{border-bottom:1px solid #ededed;margin:5px 0 10px 10px;}
.ui_timepicker{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    margin: 5px 5px 0;
    vertical-align: top;
    background: #fff;
    margin-left:20px;
    width:140px;
}
.itemlist ul{margin-left:10px;}
.itemlist ul li{float: left;width:70px;height:30px;line-height: 30px;text-align: center;border-radius: 5px;margin:0 5px 5px 0;font-size: 14px;}
.preList{height: 38px;}
.preList span{display: inline-block;margin-left:5px;}
#day{margin-left:15px;}
.shixiao,.shixiao2{width:165px;height: 17px;text-align: center;border: 1px solid #cdcdcd;float: right}
.showType ul,.modifyList ul{margin-left: 60px;}

.showType ul li{float: left;width:34px;height:34px;margin:5px;}
.tianse{background: url("../images/tianse.png") center no-repeat;}
.polyline{background: url("../images/polyline.png") center no-repeat;}
.sebantu{background: url("../images/sebantu.png") center no-repeat;}
.modifyList ul li{float: left;width:70px;height:30px;line-height: 30px;text-align: center;border-radius: 5px;margin:5px;}
.modifyList ul li:hover,.itemlist ul li:hover{background: orange}
.shixiao:hover,.shixiao2:hover{background: orange}
.correctionTool{width:240px;margin-top:10px;padding-bottom:15px;background: #fff;position: absolute;z-index: 999;right:40px;font-family: "微软雅黑"}
.correctionTitle{height:30px;width:100%;line-height: 30px;background: #0480be;font-size: 16px;padding-left:10px;color:#fff;box-sizing: border-box;}
.leaflet-draw-section{float: left;margin-right:10px;}
.leaflet-draw-section a{float: left}
.leaflet-draw-toolbar{margin-top:0;}
.leaflet-bar a{width:36px;height:30px;border:none;}
.leaflet-bar a:hover{width:36px;height:30px;}
.zz{font-size: 15px;display: inline-block;padding:10px 0 0 10px}
.ttitle{border:1px solid #000;color:#fff;margin:10px 10px 0 10px;width:90%;height:30px;line-height: 30px;background: skyblue;text-align: center}
.tcontent,.temcontent{margin:0 10px;width:90%;border-left:1px solid #000;border-right:1px solid #000;border-bottom: 1px solid #000}
.tcontent ul,.temcontent{height:auto;}
.tcontent ul li{float: left;width: 105px;padding: 10px;box-sizing: border-box;height:52px;}
.rainItem{width:25px;height:28px;border:1px solid #000;background: #fff;float: left;}
.rainItemlist{width:15px;height:18px;margin:5px auto;}
.raindes{float:left;height:30px;line-height: 30px;}
.temcontent ul li{float: left;width: 50px;padding: 10px;box-sizing: border-box;height:52px;}
.temItem{width:30px;height:25px;line-height:25px;border:1px solid #000;background: #fff;float: left;text-align: center}
.checkRadio{float: right;margin-right:10px;display: inline-block;padding:10px 0 0 10px}
.leaflet-right .leaflet-control {
    margin-right: 0;
}
.tool_list_box1 span{background: bisque;margin:5px;}
@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}
.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    perspective-origin: 10% 10%;
    animation: rotate 60s infinite linear;
    position: relative;
    left: -30%;
    bottom: -700px;


}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
    -moz-backface-visibility:hidden; 	/* Firefox */
    -ms-backface-visibility:hidden; 	/* Internet Explorer */
}