.zhankai{
    display:none;
}
.footer{
    bottom:0;
}
.selectElementBox{
    height:550px;
}
.selectElement_box{
    color: #000;
    width: 100%;height: 100%;
}
/*.selectElement .close{*/
    /*display: block;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*position: absolute;*/
    /*right: -10px;*/
    /*top: -9px;*/
    /*background: rgba(51, 51, 51, 0.3);*/
    /*z-index: 9999;*/
/*}*/
/*.selectElement .close b {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: url(../../../images/colse1.png) no-repeat center;*/
    /*background-size: cover;*/
    /*display: block;*/
    /*font-weight: 700;*/
/*}*/
.selectElement_radioTime{
    width: auto;
    padding-right:15px ;
    line-height: 20px;
    float: left;
    color:#fff;
}
.selectElement_span{
    width: auto;
    padding-right:5px;
    padding-left: 5px;
    line-height: 20px;
    float: left;
    background: #E5E6F8;
    color:#000;
}
.selectElement_box{
    color: #000;
    width: 100%;height: 100%;
    font-size: 12px;
}
.selectElement_span input[name=radioElement]{
    display: none;
}
.select1{
    background: rgb(51, 51, 51);
}
.select1 .ele{
    color:#fff;
}
.showEchartsBox{
    width: 100%;height: auto;
    background: #E2E6F2;
}
.showEcharts{
    width: 100%;height:173px;
    /*overflow: hidden;*/
    /*border-top: 1px solid #000;*/
    /*border-bottom: 1px solid #000;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0;*/
}
.echartsContentBox {
    /*height: 122px;*/
    /*overflow-y:scroll;*/
}
.showEcharts table{
    /*padding-top: 5px;*/
}
#echartsNav{
    position: absolute;
    top: 0;
    left: 0px;
}
#echsrtsContent{
    position: absolute;
    top:0px;
    left:0px;
    float: left;
}

#tableEcharts1{
    float: left;
}
.showEcharts table tr{
    width: 100%;height: 20px;
    background: #fff;
}

.showEcharts table td{
    height: 20px;
    border: 1px solid #B8C7D2;
    line-height: 20px;text-align:center;

}
table#echartsContent,table#echartsContent1{
    width:100%;
}
table#echartsContent tr,table#echartsContent1 tr{
    background: #DBE4EB;
}
.echartsContentBox div table td:nth-child(1){
    width: 106px;
}
.echartsContentBox  div table td:nth-child(2){
    width: 55px;
    /*display: none;*/
}
/*.echartsContentBox div table td:nth-child(3){*/
    /*width: 69px;*/
    /*/!*display: none;*!/*/
/*}*/
.echartsContentBox1 div table td:nth-child(1){
    width: 100px;
}

.echartsContentBox1 div table td:nth-child(3){
    width: 45px;
    display: none;
}
.echartsContentBox1 div table td:nth-child(4){
    width: 45px;
    display:none;
}
/*#tableEcharts{*/
    /*width: 100%;*/
    /*height:200px;*/
    /*position: absolute;*/
    /*top: 250px;left: 0px;*/
/*}*/
#echartsContent3 table tr td:nth-child(3){
    display: none;
}
#echartsContent3 table tr td:nth-child(4){
    display: none;
}
/*#tableEcharts table{*/
    /*width: 100%;height: auto;*/
/*}*/
/*#tableEcharts table td{*/
    /*border: 1px solid #000;*/
/*}*/
.zongShu table tr :nth-child(1){
    width:30%;
    height: 10px;
    border: 1px solid #000;
    text-indent: 10px;
}
.zongShu table tr :nth-child(2){
    text-align: center;
    border: 1px solid #000;

}
.closeForecast{
    width:13px;
    height:100%;
}
.boxClose{

    background: url("../../../images/showright.png") center no-repeat;
}
.boxShow{
    background: url("../../../images/hideright.png") center no-repeat;
}
::-webkit-scrollbar{
    width: 10px;
}/* ¹ö¶¯²Û */
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(180,206,216,1);
/*border-radius: 5px;*/
}
/* <a href="https://www.baidu.com/s?wd=%E6%BB%9A%E5%8A%A8%E6%9D%A1&tn=44039180_cpr&fenlei=mv6quAkxTZn0IZRqIHckPjm4nH00T1YLnhnsPhubmWTvPAmzPyDz0ZwV5Hcvrjm3rH6sPfKWUMw85HfYnjn4nH6sgvPsT6KdThsqpZwYTjCEQLGCpyw9Uz4Bmy-bIi4WUvYETgN-TLwGUv3EnHTsnHT1rj03rjmLrHTvnHRsn0" target="_blank" class="baidu-highlight">¹ö¶¯Ìõ</a>»¬¿é */
::-webkit-scrollbar-thumb
{
    /*width:6px;*/
    /*background: rgba(0,0,0,0.1);*/
    background:#9CA9B4;
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);*/
}
